@import '../../../style/vars';

.btn {
    padding: 5px 15px;
    color: $white;
    font-size: 14px;
    background: $violet;
    // border: 1px solid #646cff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    border-color: #646cff;
    background-color: rgb(130, 130, 221);
}

.btn:focus,
.btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}