@import '../../../style/vars';
@import '../../../style/template';

.btn {
    color: $white;
    background: $violet;
    border: none;
    @include button;
}

.btn:hover {
    border-color: #646cff;
    background-color: rgb(226, 161, 252);
}

.btn:focus,
.btn:focus-visible {
    outline: 1px auto rgb(100, 57, 100);
    background-color: rgb(226, 161, 252);
}