@import '../../style/_vars.scss';
@import '../../style/template';

.table-container {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.table {
    max-width: 1200px;
    width: 100%;
    border-radius: 16px;
    padding: 15px;
    background-color: $white;
    font-family: $font-1;
}


tr {
    height: 40px;
}

tr:hover {
    background-color: $base-2;
}

td {
    font-family: $font-1;
}

body {
    background-color: $base-2;
}


.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border: none;

    .save-btn {
        border: 2px solid;
        border-radius: 10%;
        @include button;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, rgb(68, 228, 228), #3ad5a6);
    }

    .save-btn:hover {
        background-color: $blue2;
    }

    button {
        @include button;
        border: none;
        appearance: none;
        background-color: inherit;
    }

    button:hover {
        filter: drop-shadow(6px 6px 10px rgb(137, 39, 230));
    }

    img {
        width: 30px;
        height: 30px;
    }
}