@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$base-1: #E1DCE0;
$base-2: #eef1f8;
$blue1: #BACBDB;
$blue2: #F0FFFF;
$violet: #8FA2CA;
$green1: #00A86B;
$green2: #B5C6B8;
$rose: #EBD1EA;
$yellow: #FEE3A2;
$black: #131410;
$white: white;
$aqua: rgb(207, 255, 238);
$grey: #DCDCDC;
$red: rgb(214, 4, 4);


$font-1: 'Roboto', sans-serif;