@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$base-1: #E1DCE0;
$base-2: #eef1f8;
$blue: #BACBDB;
$violet: #8FA2CA;
$green: #B5C6B8;
$rose: #EBD1EA;
$yellow: #FEE3A2;
$black: #131410;
$white: white;


$font-1: 'Roboto', sans-serif;