@import '../../style/_vars.scss';

footer {
    position: static;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    padding: 5px 15px;
    background-color: $white;

    .buttons {
        width: 100%;
        display: flex;
    }
}

.footer-info {
    display: flex;
    gap: 20px;
}