@import '../../style/_vars.scss';

footer {
    // position: sticky;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 50px;
    background-color: $white;
}

.footer-info {
    display: flex;
    gap: 20px;
}