@import '../../style/_vars.scss';

.cards-container {
    display: flex;
    justify-content: center;
    padding: 5px 15px;
    margin-bottom: 50px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px 15px;
    max-width: 1200px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    background-color: transparent;
    width: 250px;
    min-height: 170px;
    padding: 30px 15px;
    margin: 0 10px;
    border: 1px solid $violet;
    border-radius: 5px;
    font-family: $font-1;
    font-size: 20px;

    &__transcription {
        font-size: 18px;
    }

    &__translation {
        color: $green1;
    }
}