@import '../../style/_vars.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    margin: 50px 0;

    h2 {
        font-family: $font-1;
        font-size: 30px;
    }
}

.slide {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.arrow {
    cursor: pointer;
}